.releases {
  margin-bottom: 5%;
}

.album {
  display: flex;
}

.songs {
  width: 29.539%;
}

.album {
  display: flex;
  justify-content: center;
  margin-bottom: 10%;
}

.albumCover {
  margin-right: 30px;
  width: 300px;
  height: 300px;
}